@tailwind base;
@tailwind components;
@tailwind utilities;

.main-pos {
  position: relative;
}
.cloud_one {
  position: absolute;
  background-size: contain;
  transform: translateX(0%);
  animation: cloud_one 30s infinite;
}

.cloud_two {
  position: absolute;
  background-size: contain;
  transform: translateX(0%);
  animation: cloud_two 18.5s infinite;
}

/* css keyframes */
@keyframes cloud_one {
  0% {
    transform: translateX(200%);
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(10%);
  }
}

@keyframes cloud_two {
  0% {
    transform: translateX(10%);
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%);
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #150426;
}
::-webkit-scrollbar-thumb {
  background-color: #e0c0ff;
  border-radius: 100vw;
}
